$grey: rgb(25, 24, 24);
$highlight: rgb(247, 57, 9);
$background: #fff;
$tablet: 800px;
$mobile: 480px;
$font-size: 23px;
$font-size-small: 16px;
$line-height: 1.236 * $font-size;
$easing: cubic-bezier(0.23, 1, 0.32, 1);
$body-width: 30em;
$sans-stack: "Helvetica", "Helvetica Neue", "Arial", sans-serif;
$serif-stack: "Tinos", serif;

html {
  background: $background;
  color: $grey;
  margin: 0;
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  background: $background;
  font-family: $serif-stack;
}

#photos {

  margin: $line-height * 3 0 0 0;

  img {

    display: block;
    margin: 0 auto $font-size-small auto;
    border: none;
    color: #fff;
    clear: both;
    width: auto;
    height: auto;
    max-width: 92.5vw;
    max-height: 87vh;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;

    @media all and (max-width:$tablet) {
      max-width: 100%;
    }

  }

}

.page {

  margin: 0 0 4.9em 0;

  .tags {
    column-count: 3;
    -moz-column-count: 3;
  }

  ul {
    display: block;
    margin: 0 0 0 1.4em;
  }

}


h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {

  font-family: $sans-stack;
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;

  @media all and (max-width: $tablet) {
    margin: $font-size-small;
  }

  span,
  a:link,
  a:visited {

    display: block;
    transform: scaleX(1.1) rotate(-90deg);
    transform-origin: top right;
    position: fixed;
    left: -100%;
    top: $font-size-small;
    width: 100%;
    text-align: right;
    z-index: 10000;

    @media all and (max-width: $tablet) {
      display: inline;
      position: static;
      transform-origin: top left;
      transform: scaleX(0.909);
      font-size: $font-size-small;
      text-align: left;
    }

  }

  span {

    left: auto;
    right: $font-size;
    top: auto;
    bottom: 0;
    transform: scaleX(1.25) rotate(90deg);
    transform-origin: right;
    text-align: right;
    margin: 0;

    @media all and (max-width: $tablet) {
      display: none;
    }

  }

  a:link,
  a:visited {

    margin: 0 0 0 8px;

    @media all and (max-width: $tablet) {
      margin: 0;
      position: absolute;
      top: $font-size-small;
      left: $font-size-small;
    }

  }

  a:hover,
  a:active {
    outline: none;
  }

}

p,
ul,
ol {

  font-size: $font-size;
  padding: 0;
  margin: 0;
  line-height: 1.4em;

  @media all and (max-width:$tablet) {
    font-size: $font-size-small;
  }

}

a:link,
a:visited {
  color: $grey;
  text-decoration: none;
  outline-offset: 3px;
  outline: 2px solid transparent;
}

a:hover,
a:active,
a:focus {
  color: $highlight;
  outline: 2px solid rgba($highlight, 0.9);
  transition: outline-offset 5s ease-in;
}

a:active {
  outline-offset: 10px;
  transition: all 0.05s ease-in;
}

h2 a:link,
h2 a:visited {
  background: none;
  text-decoration: none;
}

h2 a:hover,
h2 a:active {
  color: $highlight;
  outline: 2px solid $highlight;
  text-decoration: none;
}

cite {
  display: inline;
  font-style: normal;
  text-transform: capitalize;
}

.above,
.below {
  font-size: 70%;
}

.above {
  vertical-align: 0.7ex;
}

.below {
  padding: 0 0.5ex 0 0;
  vertical-align: -0.3ex;
}


nav {

  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
  padding: 0 0 $line-height 0;
  width: $body-width;
  font-size: $font-size;
  line-height: $line-height;

  @media all and (max-width: $tablet) {
    width: auto;
    padding: 0 $font-size-small $line-height $font-size-small;
  }

  h2,
  h3,
  ul,
  p {

    clear: both;
    font-size: $font-size;

    @media all and (max-width: $tablet) {
      font-size: $font-size-small;
      margin-right: $line-height;
    }

  }

  h2 {
    margin-bottom: $line-height * 1.5;
  }

  h3 {
    margin: $line-height / 2 0 0 0;
  }

  p {
    margin-top: $line-height * 1.5;
  }

  ul {

    margin: (-$line-height - 2) 0 0 ($font-size * 4);

    @media all and (max-width: $tablet) {
      margin-top: -$line-height + 3;
    }

  }

  li {

    display: inline-block;
    margin: 0 $font-size ($font-size / 4) 0;
    list-style: none;
    white-space: nowrap;

    @media all and (max-width: $mobile) {
      display: block;
    }

  }

  a,
  a:link,
  a:visited {
    color: $highlight;
  }

}

.children {
  display: none;
}

.tagList .children {
  display: block;
  font-size: 1em;
}

.tagList ul {
  font-size: 1em;
  margin: 0 0 0 1em;
}

#infscr-loading {
  position: fixed;
  bottom: $font-size-small;
  left: $font-size-small;
  z-index: 98;
  padding: 0;
  background: transparent;
  height: 1em;
  width: 1em;
  border-left: 5px solid rgba($highlight, 0.2);
  border-right: 5px solid rgba($highlight, 1);
  border-bottom: 5px solid rgba($highlight, 1);
  border-top: 5px solid rgba($highlight, 1);
  border-radius: 100%;
  -webkit-animation: pulse 1.2s linear;
  -moz-animation: pulse 1.2s linear;
  animation: pulse 1.2s linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

footer {

  clear: both;
  margin: $line-height * 4 0 $line-height * 2 0;

  @media all and (max-width:$tablet) {
    margin: $line-height 0;
  }

  .next-link a {

    display: block;
    font-family: $sans-stack;
    font-size: $font-size;
    padding: $line-height;
    margin: 0 0 $line-height * 3 0;
    box-sizing: border-box;
    background: $highlight;
    color: #fff;
    text-align: center;

    @media all and (max-width:$tablet) {
      font-size: $font-size-small;
      margin: 0 $font-size-small $line-height $font-size-small;
    }

  }

  a:hover,
  a:active {
    text-decoration: none;
    box-shadow: none;
  }

}

.blogPost {

  margin: $line-height * 4 0 $line-height * 2 0;
  color: $grey;
  text-align: center;

  @media all and (max-width: $tablet) {
    width: auto;
  }

  p,
  blockquote {

    text-indent: 0;
    width: $body-width;

    @media all and (max-width: $tablet) {
      width: auto;
      margin-right: $font-size-small;
      margin-left: $font-size-small;
    }

  }

  p, blockquote, h2, ol, ul {
    position: relative;
    z-index: 6000;
  }

  p {

    margin: 0 auto;
    text-align: left;

    @media all and (max-width: $tablet) {
      margin-right: $font-size-small;
      margin-left: $font-size-small;
    }

  }

  p.center {
    margin-top: $line-height;
    text-align: center;
    text-indent: 0;
  }

  p + p,
  ul + p {
    margin-top: $line-height;
  }

  p.meta + p,
  p.intro + p,
  p.center + p {
    text-indent: 0;
  }

  p.meta {

    margin: $font-size / 2 auto $font-size auto;

    a {
      background: none;
      text-shadow: none;
    }

  }

  ol,
  ul {

    padding: 0;
    line-height: $line-height;
    margin: 0 auto;
    width: $body-width;

    @media all and (max-width: 960px) {
      width: auto;
      margin-right: $font-size-small;
      margin-left: $font-size-small;
    }

  }

  li {

    margin: $line-height / 2 0 0 0;
    text-align: left;

    @media all and (max-width:$tablet) {
      margin-left: 14px;
    }

  }

  ul {

    li {

      list-style-type: none;
      position: relative;

      &:before {

        content: "•";
        margin: 0;
        position: absolute;
        top: 0;
        left: -$font-size-small;
        color: $highlight;
        font-size: $font-size-small - 2;

        @media all and (max-width:$tablet) {
          left: -12px;
        }

      }

    }

  }

  ol {

    list-style-type: none;
    counter-reset: item;

    li {
      counter-increment: item;
      position: relative;
    }

    li:before {
      content: counter(item) "";
      color: $highlight;
      position: absolute;
      top: 2px;
      left: -$font-size * 1.5;
      font-size: $font-size-small;
      text-align: right;
      width: $font-size;

      @media all and (max-width:$tablet) {
        left: -30px;
        font-size: 12.5px;
        top: 1px;
      }

    }

  }

  a {
    text-decoration: none;
  }

  p.intro {
    margin-bottom: $line-height;
    text-align: center;
  }

  blockquote {

    margin: 0 auto $line-height auto;
    padding-left: $line-height;
    padding-right: $line-height;

    @media all and (max-width: $tablet) {
      padding-left: $line-height;
      padding-right: $line-height;
    }

    p {
      margin-top: $line-height;
      max-width: 100%;
    }

  }

  .pullquote:before {
    content: "\201C";
  }

  .pullquote:after {
    content: "\201D";
  }

  h2 {

    font-family: $sans-stack;
    font-size: $font-size;
    transform: scaleX(0.909);
    transform-origin: left;
    text-transform: none;
    text-align: left;
    font-weight: bold;
    width: $body-width;
    margin-left: auto;
    margin-right: auto;

    @media all and (max-width: $tablet) {
      font-size: $font-size-small;
    }

  }

  & > h2 {

    display: inline-block;

    @media all and (max-width:$tablet) {
      border-bottom: 0;
    }

  }

  h3 {
    margin: 3.24em 0 1.62em 0;
    font-size: $font-size;
    font-style: italic;
    text-align: center;
  }

  .pullquote {
    font-size: $line-height;
    line-height: $line-height;
    display: block;
    float: left;
    text-indent: 0;
    width: 50%;
    font-family: $sans-stack;
  }

  .left {
    float: left;
    margin: $line-height / 2 $line-height $line-height / 2 0;
  }

  .right {
    float: right;
    margin: $line-height / 2 0 $line-height / 2 $line-height;
  }

  .right,
  .left {

    @media all and (max-width: $tablet) {
      width: auto;
      float: none;
      text-align: center;
      margin: $line-height;
    }

  }

  .hasTooltip {

    @media all and (max-width: $tablet) {
      margin-top: $line-height;
    }

    p + p {
      margin-top: 0;
    }

    h2 {

      width: auto;
      margin-left: 0;
      margin-right: 0;
      font-weight: normal;
      transform: none;

      @media all and (max-width: $tablet) {
        width: 100%;
      }

    }

    a {
      text-decoration: none;
    }

  }

  .mask {
    margin-top: $line-height * 2;
    z-index: 5000;
    outline: ($line-height + 1px) solid $background;
  }

}

.hasMap {

  & > .mask {
    box-shadow: 0 -2em 0 2em #fff;
  }

}

.mask {

  display: block;
  position: relative;
  margin-bottom: $line-height;
  background: #fff;

  @media all and (max-width:$tablet) {

    padding: 0 $line-height;

    &:last-child {
      padding-bottom: $line-height;
    }

  }

  @media all and (max-width:$tablet) {
    padding: 0 $font-size-small 0 $font-size-small;
  }

  p:first-child {
    padding-top: $line-height;
  }

}

.onMap {

  position: relative;
  -webkit-transform: translate3d(0, 0, 0);

  p {
    background: #fff;
  }

}

.hasTooltip {

  margin-top: $line-height * 2;
  line-height: $line-height;

  p,
  h2,
  h3 {

    font-family: $sans-stack;
    font-size: $font-size-small;
    line-height: $line-height;
    font-weight: normal;
    width: auto;
    text-align: center;

    @media all and (max-width:$tablet) {
      font-family: $serif-stack;
    }

  }

  h2 {

    margin: 0;

    a {
      display: inline;
    }

  }

  p {

    max-width: $body-width;
    margin-left: auto;
    margin-right: auto;

    a {

      &.tag-link {
        display: inline-block;
        white-space: nowrap;
        margin: 0 $font-size / 2 0 0;
      }

    }

  }

}

::selection {
  background: $highlight;
  color: #fff;
}

.SC {
  //font-variant: small-caps;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  75% {
    -moz-transform: rotate(270deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ddd;
}

#map-canvas {
  height: 100%;
}
