$grey: rgb(25, 24, 24);
$highlight: rgb(247, 57, 9);
$background: #fff;
$tablet: 800px;
$mobile: 480px;
$font-size: 23px;
$font-size-small: 16px;
$line-height: 1.236 * $font-size;
$easing: cubic-bezier(0.23, 1, 0.32, 1);
$body-width: 30em;

html {
  background: $background;
  color: $grey;
  margin: 0;
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  background: $background;
  font-family: "Tinos", serif;
}

#photos {

  margin: 10vh 0 0 0;

  img {
    display: block;
    margin: 0 auto $font-size-small auto;
    border: none;
    color: #fff;
    clear: both;
    width: auto;
    height: auto;
    max-width: 92.5vw;
    max-height: 87vh;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
  }

}

.page {

  margin: 0 0 4.9em 0;

  .tags {
    column-count: 3;
    -moz-column-count: 3;
  }

  ul {
    display: block;
    margin: 0 0 0 1.4em;
  }

}


h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {

  display: block;
  width: 100%;
  height: $line-height;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $highlight;
  margin: 0;

  a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1px;
  }

}

p,
ul,
ol {

  font-size: $font-size;
  padding: 0;
  margin: 0;
  line-height: 1.4em;

  @media all and (max-width:$tablet) {
    font-size: $font-size-small;
  }

}

a:link,
a:visited {
  color: $grey;
  text-decoration: none;
  outline-offset: 3px;
  outline: 2px solid transparent;
}

a:hover,
a:active,
a:focus {
  color: $highlight;
  outline: 2px solid $highlight;
  transition: outline-offset 5s ease-in;
}

a:active {
  outline-offset: 10px;
  transition: all 0.05s ease-in;
}

h2 a:link,
h2 a:visited {
  background: none;
  text-decoration: none;
}

h2 a:hover,
h2 a:active {
  color: $highlight;
  outline: 2px solid $highlight;
  text-decoration: none;
}

cite {
  display: inline;
  font-style: normal;
  text-transform: capitalize;
}

.above,
.below {
  font-size: 70%;
}

.above {
  vertical-align: 0.7ex;
}

.below {
  padding: 0 0.5ex 0 0;
  vertical-align: -0.3ex;
}


nav {

  box-sizing: border-box;
  height: auto;
  margin: 0 auto;
  padding: 0 0 20vh 0;
  width: $body-width;
  font-size: $font-size;

  @media all and (max-width: $tablet) {
    width: auto;
    padding: 0 $line-height 20vh;
  }

  h2,
  h3,
  ul,
  p {

    clear: both;
    font-size: $font-size;

    @media all and (max-width: $tablet) {
      font-size: $font-size-small;
      margin-right: $line-height;
    }

  }

  h2 {
    margin-bottom: $line-height * 1.5;
  }

  h3 {
    margin: $line-height / 2 0 0 0;
  }

  p {
    margin-top: $line-height * 1.5;
  }

  ul {
    margin: (-$line-height - 2) 0 0 ($font-size * 4);
  }

  li {
    display: inline-block;
    margin: 0 $font-size ($font-size / 4) 0;
    list-style: none;
    white-space: nowrap;
  }

  a,
  a:link,
  a:visited {
    color: $highlight;
  }

}

.children {
  display: none;
}

.tagList .children {
  display: block;
  font-size: 1em;
}

.tagList ul {
  font-size: 1em;
  margin: 0 0 0 1em;
}

#infscr-loading {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 98;
  padding: 0;
  background: transparent;
  height: 1em;
  width: 1em;
  border-left: 5px solid rgba($highlight, 0.2);
  border-right: 5px solid rgba($highlight, 1);
  border-bottom: 5px solid rgba($highlight, 1);
  border-top: 5px solid rgba($highlight, 1);
  border-radius: 100%;
  -webkit-animation: pulse 1.2s linear;
  -moz-animation: pulse 1.2s linear;
  animation: pulse 1.2s linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

footer {

  clear: both;
  margin: $line-height * 4 0 $line-height * 2 0;

  @media all and (max-width:$tablet) {
    margin: $line-height;
  }

  .next-link a {

    display: block;
    font-size: $font-size;
    padding: $line-height;
    box-sizing: border-box;
    background: $highlight;
    color: #fff;
    text-align: center;

    @media all and (max-width:$tablet) {
      font-size: $font-size-small;
      padding: $font-size;
    }

  }

  a:hover,
  a:active {
    text-decoration: none;
    box-shadow: none;
  }

}

.blogPost {

  margin: 20vh 0 12.8em 0;
  color: $grey;
  text-align: center;

  @media all and (max-width: $tablet) {
    width: auto;
    margin: 0 0 20vh 0;
  }

  p,
  blockquote {

    text-indent: 0;
    width: $body-width;

    @media all and (max-width: $tablet) {
      width: auto;
    }

  }

  p, blockquote, h2, ol, ul {
    position: relative;
    z-index: 6000;
  }

  p {
    margin: 0 auto;
    text-align: left;
  }

  p.center {
    margin-top: $line-height;
    text-align: center;
    text-indent: 0;
  }

  p + p,
  ul + p {
    margin-top: 1.618em;
  }

  p.meta + p,
  p.intro + p,
  p.center + p {
    text-indent: 0;
  }

  p.meta {

    margin-bottom: $font-size;
    margin-top: $font-size / 2;

    a {
      background: none;
      text-shadow: none;
    }

  }

  ol,
  ul {

    padding: 0;
    line-height: 1.62em;
    margin: 0 auto;
    width: $body-width;

    @media all and (max-width: 960px) {
      width: auto;
    }

  }

  li {
    margin: 1.6em 0;
    text-align: left;
  }

  a {
    text-decoration: none;
  }

  p.intro {
    font-style: italic;
    margin-bottom: 34px;
    text-align: center;
  }

  blockquote {

    font-style: italic;
    box-sizing: border-box;
    margin: 0 auto $line-height auto;
    padding-left: $line-height * 2;
    padding-right: $line-height * 2;

    @media all and (max-width: $tablet) {
      padding-left: $line-height;
      padding-right: $line-height;
    }

    p {
      width: 100%;
      margin-top: $line-height;
    }

  }

  .pullquote:before {
    content: "\201C";
  }

  .pullquote:after {
    content: "\201D";
  }

  h2 {

    font-size: $font-size;
    font-weight: normal;
    text-transform: none;
    text-align: left;
    font-weight: bold;
    width: $body-width;
    margin-left: auto;
    margin-right: auto;

    @media all and (max-width: $tablet) {
      font-size: $font-size-small;
    }

  }

  & > h2 {

    display: inline-block;

    @media all and (max-width:$tablet) {
      border-bottom: 0;
    }

  }

  h3 {
    margin: 3.24em 0 1.62em 0;
    font-size: $font-size;
    font-style: italic;
    text-align: center;
  }

  .pullquote {
    font-size: 1.6em;
    line-height: 1.4em;
    display: block;
    float: left;
    font-style: italic;
    text-indent: 0;
    width: 8.7em;
  }

  .left {
    float: left;
    margin: 0 1.618em 0.7em 0;
  }

  .right {
    float: right;
    margin: 0 0 0.7em 1.618em;
  }

  .right,
  .left {

    @media all and (max-width: $tablet) {
      width: auto;
      float: none;
      text-align: center;
      margin: $line-height;
    }

  }

  .hasTooltip {

    @media all and (max-width: $tablet) {
      margin-top: $line-height;
    }

    p + p {
      margin-top: 0;
    }

    h2 {
      width: auto;
      margin-left: 0;
      margin-right: 0;
      font-weight: normal;
    }

    a {
      text-decoration: none;
    }

  }

  .mask {
    margin-top: $line-height * 2;
    z-index: 5000;
  }

}

.hasMap {

  & > .mask {
    box-shadow: 0 -2em 0 2em #fff;
  }

}

.mask {

  display: block;
  position: relative;
  margin-bottom: $line-height;
  background: #fff;

  @media all and (max-width:$tablet) {

    padding: 0 $line-height;

    &:last-child {
      padding-bottom: $line-height;
    }

  }

  @media all and (max-width:$tablet) {
    padding: 0 $font-size-small 0 $font-size-small;
  }

  p:first-child {
    padding-top: $line-height;
  }

}

.onMap {

  position: relative;
  -webkit-transform: translate3d(0, 0, 0);

  p {
    background: #fff;
  }

}

.hasTooltip {

  margin-top: $line-height * 2;
  line-height: $line-height;

  p,
  h2,
  h3 {
    font-size: $font-size-small;
    line-height: $line-height;
    font-weight: normal;
    width: auto;
    text-align: center;
  }

  h2 {
    margin: 0;
  }

  p {
    max-width: $body-width;
    margin-left: auto;
    margin-right: auto;
  }

  li a {
    white-space: nowrap;
  }

}

::selection {
  background: $highlight;
  color: #fff;
}

.SC {
  //font-variant: small-caps;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(90deg);
  }
  50% {
    -moz-transform: rotate(180deg);
  }
  75% {
    -moz-transform: rotate(270deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes "pulse" {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ddd;
}

#map-canvas {
  height: 100%;
}
